apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    kubernetes.io/images.class: nginx
spec:
  rules:
    - host: posts.com 
      http:
        paths:
          - path: /posts
            backend:
              serviceName: posts-service
              servicePort: 4000